html{
    background-color: black;
}
div{
   width: 50%;
   margin-left: 25%;
   
}
#forImg{
    border: 5px solid navy;
    width: 50%
}
h1{
    text-transform: uppercase;
}
*{
    text-align: center;
    color: yellow;
    font-family:"Libre Baskerville", serif ;
}